.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: unset !important;
    color: white !important;
}
a {
    text-decoration: unset !important;
    color: unset !important;
}
.el-sub-menu__title {
    height: 45px !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    text-transform: uppercase !important;
}
.el-sub-menu__title:hover {
    background-color: unset !important;
}
.el-menu--popup {
    margin-top: 0px !important;
}
.el-menu--horizontal .el-menu--popup-bottom-start .el-menu-item:hover {
    color: black !important;
}
.el-popper .el-sub-menu .el-sub-menu__icon-arrow {
    color: black !important;
}
.active svg {
    color: black !important;
}
.bold {
    font-weight: bold !important;
}
.pointer {
    cursor: pointer;
}
.justify {
    text-align: justify !important;
}
.btn-success {
    color: #ffffff !important;
    background-color: #1BC5BD !important;
    border-color: #1BC5BD !important;
}
.btn-info {
    color: #FFFFFF !important;
    background-color: #6993FF !important;
    border-color: #6993FF !important;
}
.btn-primary {
    color: #FFFFFF !important;
    background-color: #8950FC !important;
    border-color: #8950FC !important;
}
.btn-danger {
    color: #ffffff !important;
    background-color: #F64E60 !important;
    border-color: #F64E60 !important;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.text-success {
    color: #1BC5BD !important;
}
.text-info {
    color: #6993FF !important;
}
.text-primary {
    color: #8950FC !important;
}
.text-danger {
    color: #F64E60 !important;
}
.el-popper.is-customized {
    background: #692ce5;
    color: white;
    font-size: 0.7rem;
}
.el-popper.is-customized .el-popper__arrow::before {
    background: #692ce5;
    right: 0;
}
.radius-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.radius-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fs-small {
    font-size: 0.8rem !important;
}
.el-form-item {
    margin-bottom: 0px !important;
}
.el-checkbox {
    --el-checkbox-checked-text-color: unset !important;
}