.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: unset !important;
    color: white !important;
}
a {
    text-decoration: unset !important;
    color: unset !important;
}
.el-sub-menu__title {
    height: 45px !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    text-transform: uppercase !important;
}
.el-sub-menu__title:hover {
    background-color: unset !important;
}
.el-menu--popup {
    margin-top: 0px !important;
}
.el-menu--horizontal .el-menu--popup-bottom-start .el-menu-item:hover {
    color: black !important;
}
.el-popper .el-sub-menu .el-sub-menu__icon-arrow {
    color: black !important;
}
.active svg {
    color: black !important;
}
.bold {
    font-weight: bold !important;
}
.pointer {
    cursor: pointer;
}
.justify {
    text-align: justify !important;
}
.btn-success {
    color: #ffffff !important;
    background-color: #1BC5BD !important;
    border-color: #1BC5BD !important;
}
.btn-info {
    color: #FFFFFF !important;
    background-color: #6993FF !important;
    border-color: #6993FF !important;
}
.btn-primary {
    color: #FFFFFF !important;
    background-color: #8950FC !important;
    border-color: #8950FC !important;
}
.btn-danger {
    color: #ffffff !important;
    background-color: #F64E60 !important;
    border-color: #F64E60 !important;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.text-success {
    color: #1BC5BD !important;
}
.text-info {
    color: #6993FF !important;
}
.text-primary {
    color: #8950FC !important;
}
.text-danger {
    color: #F64E60 !important;
}
.el-popper.is-customized {
    background: #692ce5;
    color: white;
    font-size: 0.7rem;
}
.el-popper.is-customized .el-popper__arrow::before {
    background: #692ce5;
    right: 0;
}
.radius-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.radius-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fs-small {
    font-size: 0.8rem !important;
}
.el-form-item {
    margin-bottom: 0px !important;
}
.el-checkbox {
    --el-checkbox-checked-text-color: unset !important;
}
.my-btn {
    cursor: pointer;
    padding: 3px;
    background: #E1E9FF;
    color: #4e80ff;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
}
.relative {
    position: relative !important;
}
.absolute {
    position: absolute !important;
}
.right {
    right: 0 !important;
}
.left {
    left: 0 !important;
}
table .el-button-group .el-button {
    width: 30px !important;
}
.w-5 {
    width: 5% !important;
}
.w-10 {
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.pr {
    position: relative !important;
}
.pa {
    position: absolute !important;
}
.normal {
    font-weight: normal !important;
}
.card-warning {
    color: #FFA800;
    background-color: #FFF4DE;
    border-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}
.card-warning:hover {
    background-color: #FFA800;
    color: white;
}
.card-danger {
    color: #F64E60;
    background-color: #FFE2E5;
    border-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}
.card-danger:hover {
    background-color: #F64E60;
    color: white;
}
.card-info {
    color: #8950FC;
    background-color: #EEE5FF;
    border-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}
.card-info:hover {
    background-color: #8950FC;
    color: white;
}
.card-success {
    color: #1BC5BD;
    background-color: #C9F7F5 ;
    border-color: transparent;
    cursor: pointer;
    border-radius: 15px;
}
.card-success:hover {
    background-color: #1BC5BD;
    color: white;
}
.custom-pager .el-select {
    width: 180px !important;
}
.wave {
  background-color: #F3F6F9;
  overflow: hidden;
  position: relative; }
  .wave > div {
    z-index: 1; }
  .wave:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -1; }
  .wave:after {
    content: ' ';
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: 65%;
    left: -250px;
    border-radius: 35%;
    background: white;
    z-index: 0; }
  .wave:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .wave-animate:after {
    -webkit-animation: animate-wave 15s infinite linear;
    animation: animate-wave 15s infinite linear; }
  .wave-animate-slower:after {
    -webkit-animation: animate-wave 30s infinite linear;
    animation: animate-wave 30s infinite linear; }
  .wave-animate-slow:after {
    -webkit-animation: animate-wave 25s infinite linear;
    animation: animate-wave 25s infinite linear; }
  .wave-animate-fast:after {
    -webkit-animation: animate-wave 10s infinite linear;
    animation: animate-wave 10s infinite linear; }
  .wave-animate-faster:after {
    -webkit-animation: animate-wave 5s infinite linear;
    animation: animate-wave 5s infinite linear; }
  .wave.wave-primary {
    background-color: rgba(137, 80, 252, 0.1) !important; }
    .wave.wave-primary .svg-icon svg g [fill] {
      fill: #8950FC; }
  .wave.wave-secondary {
    background-color: rgba(229, 234, 238, 0.1) !important; }
    .wave.wave-secondary .svg-icon svg g [fill] {
      fill: #E5EAEE; }
  .wave.wave-success {
    background-color: rgba(27, 197, 189, 0.1) !important; }
    .wave.wave-success .svg-icon svg g [fill] {
      fill: #1BC5BD; }
  .wave.wave-info {
    background-color: rgba(105, 147, 255, 0.1) !important; }
    .wave.wave-info .svg-icon svg g [fill] {
      fill: #6993FF; }
  .wave.wave-warning {
    background-color: rgba(255, 168, 0, 0.1) !important; }
    .wave.wave-warning .svg-icon svg g [fill] {
      fill: #FFA800; }
  .wave.wave-danger {
    background-color: rgba(246, 78, 96, 0.1) !important; }
    .wave.wave-danger .svg-icon svg g [fill] {
      fill: #F64E60; }
  .wave.wave-light {
    background-color: rgba(243, 246, 249, 0.1) !important; }
    .wave.wave-light .svg-icon svg g [fill] {
      fill: #F3F6F9; }
  .wave.wave-dark {
    background-color: rgba(33, 33, 33, 0.1) !important; }
    .wave.wave-dark .svg-icon svg g [fill] {
      fill: #212121; }
  .wave.wave-white {
    background-color: rgba(255, 255, 255, 0.1) !important; }
    .wave.wave-white .svg-icon svg g [fill] {
      fill: #ffffff; }
  .wave.wave-dark-75 {
    background-color: rgba(70, 78, 95, 0.1) !important; }
    .wave.wave-dark-75 .svg-icon svg g [fill] {
      fill: #464E5F; }

@-webkit-keyframes animate-wave {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes animate-wave {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }